<a href="https://colab.research.google.com/github/hareeshkhs/Pandas_Tutorial/blob/main/01_Pandas_Dataframe_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Dataframe Basics:

Pandas DataFrame is a widely used data structure which works with a two-dimensional array with labeled axes (rows and columns). DataFrame is defined as a standard way to store data that has two different indexes, i.e., row index and column index. It consists of the following properties:

The columns can be heterogeneous types like int, bool, and so on.
It can be seen as a dictionary of Series structure where both the rows and columns are indexed. It is denoted as "columns" in case of columns and "index" in case of rows.

In [1]:
#importing pandas as pd
import pandas as pd

In [3]:
#For uploading or importing files from our system 
from google.colab import files
uploaded = files.upload()

Saving weather_data.csv to weather_data.csv

In [4]:
import io
df = pd.read_csv(io.BytesIO(uploaded['weather_data.csv']))
print(df)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [5]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
df.shape

(6, 4)

In [7]:
#tTo print rows from starting
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [8]:
df.head(3)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [10]:
#printing rows from backside
df.tail(1)

        day  temperature  windspeed  event
5  1/6/2017           31          2  Sunny

In [11]:
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [12]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [13]:
#To print individual columns
df.event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [14]:
type(df['event'])

pandas.core.series.Series

In [15]:
df[['event','day']]

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [16]:
#To print maximum value in temperature column
df['temperature'].max()

35

In [18]:
#To print minimum value in temperature column
df['temperature'].min()

24

In [19]:
#To print mean value of temperature column
df['temperature'].mean()

30.333333333333332

In [20]:
#To print standard deviation of temperature column
df['temperature'].std()

3.8297084310253524

In [22]:
#To print statistics of a data
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [24]:
#To print all rows which contains temperature is greater than or equal to 32
df[df.temperature>=32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [25]:
df[df.temperature==df['temperature'].max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [26]:
df[['temperature','event']][df.temperature==df['temperature'].max()]

   temperature  event
1           35  Sunny

In [27]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [28]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [29]:
#Set day column as index
df.set_index('day',inplace=True)
#here inplace=True will modify the original dataframe

**The DataFrame.loc[]** is used to retrieve the group of rows and columns by labels or a boolean array in the DataFrame. It takes only index labels, and if it exists in the caller DataFrame, it returns the rows, columns, or DataFrame.

Syntax

`pandas.DataFrame.loc[]`

In [31]:
df.loc['1/5/2017']

temperature      32
windspeed         4
event          Rain
Name: 1/5/2017, dtype: object

In [32]:
#To reset to the original index column
df.reset_index(inplace=True)

In [33]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny